<span class="badge {{ entity.instance.countNeeded == 0 ? 'badge-secondary' : entity.instance.countHaving >= entity.instance.countNeeded ? 'badge-success' : 'badge-warning' }}">
    {{ entity.instance.countHaving }} / {{ entity.instance.countNeeded }}
</span>
